<div class="container">
  <div class="row">
    <div class="twelve columns">
        <img src="/images/Grainger_logo.png" class="logoimage">
    </div>
  </div>
  <h1>Grainger Re-order Buttons: Error</h1>
  <hr>
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
</div>