    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img width=150px src="assets/img/portfolio/splashscreen.png" alt=""></a>
		  
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="http:/smural21.people.uic.edu/beacon/">About</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


      
       <div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					 

                   <form id="login_form" action = "authenticate" method = "POST">
                <h5>
                    <label for="Email ID">Email Id</label>
                </h5>
                <input class="form-control" name='email' type="text" placeholder="Please enter your email ID." id="login_email" />
                <br>
                <br>
                <input name="loginType" type="hidden" id="loginTypeHidden" value='Seeker'/>
                <h5>
                    <label for="Password">Password</label>
                </h5>
                <input class="form-control" type="password" name = 'password' placeholder="Please enter your password." id="login_password" />
               
                <h6>
                    Login as    <select  class="btn btn-primary dropdown-toggle" id="logintype">
                    <option value="Seeker">Seeker</option>
                    <option value="Provider">Provider</option>
                </select>
                    <button  class="btn" type="submit" onclick="setUserSession();">Login</button>
                </h6>
                <div id="count"></div>
                <h6>
                    <div class="twelve columns">
                       
                    </div>
                </h6>
            </form>

            <a href="register">
                <button  style="margin-left:0%"  class="btn" type="submit">Register</button>
            </a>
								
				</div>
				
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->
           

        
        <hr class="titlehr">
        <p>{{message}}</p>
       
         
   
<script>
    $('#logintype').change(function() {
        console.log($(this).val());
        $('#loginTypeHidden').val($(this).val());
        console.log($('#loginTypeHidden').val());
    });

    function setUserSession(){
        console.log($('#login_email').val());
        sessionStorage.setItem('user',$('#login_email').val());
        console.log( sessionStorage.getItem('user'));
    }



    
</script>