<div class="container">
    <div class = "row">
        <div class="row">
            <img src="/images/logo_black.png" class="logoimage">
        </div>
        <h5>
            Login as    <select id="logintype">
                    <option value="Seeker">Seeker</option>
                    <option value="Provider">Provider</option>
                </select>

        </h5>
        <hr class="titlehr">
        <p>{{message}}</p>
        <div class = "six columns">
            <form id="login_form" action = "authenticate" method = "POST">
                <h5>
                    <label for="Email ID">Email Id</label>
                </h5>
                <input class="u-full-width" name='email' type="text" placeholder="Please enter your email ID." id="login_email" />
                <br>
                <br>
                <input name="loginType" type="hidden" id="loginType" value='Seeker'/>
                <h5>
                    <label for="Password">Password</label>
                </h5>
                <input class="u-full-width" type="password" name = 'password' placeholder="Please enter your password." id="login_password" />
                <br>
                <br>
                <h6>
                    <label for="login">Click to login.</label>
                    <button id="Login_loginButton"  class="button-primary" type="submit">Login</button>
                </h6>
                <div id="count"></div>
                <h6>
                    <div class="twelve columns">
                        <label style="margin-left:0%" for="register">Click to register a new account.</label>
                    </div>
                </h6>
            </form>

            <a href="register">
                <button id="Login_registerButton" style="margin-left:0%"  class="button-primary" type="submit">Register</button>
            </a>
        </div>
    </div>
</div>

<script>
    $('#logintype').change(function() {
        console.log($(this).val());
        $('#login_type').val($(this).val());
        console.log($('#login_type').val());
    });
</script>