<p>{{mesage}}</p>
<div class="container">
    <div class="row">
        
        <h1>
            Register Account
        </h1>
        <hr class="titlehr">
        <hr>
        <h5>
            <label style="text-align: center" for = "contactInfoRegistration">Contact Information</label>
        </h5>
        <div class="twelve columns">
            <form id="registerationForm_Contact" method="POST">
                <div style="margin-left: 2%;" class = "twelve columns">
                    <h6>
                        <label for="Email">Email</label>
                    </h6>
                    <input class="u-half-width" type="text" name="email" placeholder="Please enter your email." id="register_email">
                    <div class="six columns" id="validator_email">
                        Please fill in your email ID.
                    </div>
                    <br>
                    <br>
                </div>

                <!--<div class="six columns">-->
                <!--<h6>-->
                <!--<label for = "username">Username</label>-->
                <!--</h6>-->
                <!--&lt;!&ndash;<input class="u-full-width" type="text" name="username" placeholder="Please create your username." id="register_username">&ndash;&gt;-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--</div>-->

                <div class="six columns">
                    <h6>
                        <label for = "password">Password</label>
                    </h6>
                    <input class="u-full-width" type="password" name="password" placeholder="Please enter your password." id="register_password">
                    <br>
                    <br>
                </div>

                <div class="six columns">
                    <h6>
                        <label for = "password">Re-enter password</label>
                    </h6>
                    <input class="u-full-width" type="password" placeholder="Please enter your password again." id="register_re_password">
                    <div class="form-group" id="validator_password">
                        Your passwords do not match.
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="six columns">
                    <h6>
                        <label for = "company">Company Name</label>
                    </h6>
                    <input class="u-full-width" type="text" name = "company_name" placeholder="Please enter the company name." id="register_company">
                    <div class="form-group" id="validator_company">
                        Please fill in your company name.
                    </div>
                    <br>
                    <br>
                </div>

                <div class="six columns">
                    <h6>
                        <label for = "Grainger_Account">Grainger Account</label>
                    </h6>
                    <input class="u-full-width" type="text" name="grainger_account" placeholder="Please enter the grainger account." id="register_grainger">
                    <div class="form-group" id="validator_account">
                        Please fill in your grainger account.
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="six columns">
                    <h6>
                        <label for = "First_Name">First Name</label>
                    </h6>
                    <input class="u-full-width" type="text" name="first_name" placeholder="Please enter the first name." id="register_firstname">
                    <div class="form-group" id="validator_firstname">
                        We would love to know your first name.
                    </div>
                    <br>
                    <br>
                </div>
                <div class="six columns">
                    <h6>
                        <label for = "Last_Name">Last Name</label>
                    </h6>
                    <input class="u-full-width" type="text" name="last_name" placeholder="Please enter the last name." id="register_lastname">
                    <div class="form-group" id="validator_lastname">
                        We would love to know your last name.
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <h5>
                    <label style="text-align: center" for = "shippingInfo">Shipping Information</label>
                </h5>
                <div class="six columns">
                    <h6>
                        <label for="Attention">Attention</label>
                    </h6>
                    <input class="u-full-width" name="attention" type="text" placeholder="Please enter your ..." id="register_attention">
                    <div class="six columns" id="validator_attention">
                        Please enter some attention information.
                    </div>
                    <br>
                    <br>
                </div>
                <div class="six columns">
                    <h6>
                        <label for = "text">Street1</label>
                    </h6>
                    <input class="u-full-width" name="street1" type="text" placeholder="Please enter your address - street 1." id="register_street1">
                    <div class="six columns" id="validator_street1">
                        We would love to know your street details!
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="six columns">
                    <h6>
                        <label for = "text">Street2</label>
                    </h6>
                    <input class="u-full-width" type="text" name="street2" placeholder="Please enter your address - street 2 (optional)." id="register_street2">
                    <br>
                    <br>
                </div>

                <div class="six columns">
                    <h6>
                        <label for = "city">City</label>
                    </h6>
                    <input class="u-full-width" type="text" name="city" placeholder="Please enter the city." id="register_city">
                    <div class="six columns" id="validator_city">
                        We would love to know your city!
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="six columns">
                    <h6>
                        <label for = "State">State</label>
                    </h6>
                    <input class="u-full-width" type="text" name="state" placeholder="Please enter the state." id="register_state">
                    <div class="six columns" id="validator_state">
                        Please enter which state you belong to!
                    </div>
                    <br>
                    <br>
                </div>

                <div class="six columns">
                    <h6>
                        <label for = "zipcode">Zipcode</label>
                    </h6>
                    <input class="u-full-width" type="text" name="zipcode" placeholder="Please enter the zipcode." id="register_zipcode">
                    <div class="six columns" id="validator_zipcode">
                        Please enter your zipcode!
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="form-group" id="validator">
                </div>
                <button id="Login_registerButton" class="button-primary" type="submit">Register</button>
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
        <hr>
    </div>
    </div>




        <script>
            $(document).ready(function()
            {
                $('#Login_registerButton,#validator_lastname,#validator_firstname,#validator_company,#validator_account,#validator_email,#validator_password,#validator_attention,#validator_street1,#validator_city,#validator_state,#validator_zipcode').hide();

            });

            // Checking for valid fields.
            $('#register_email,#register_password,#register_re_password,#register_company,#register_grainger,#register_firstname,#register_lastname').on('change',function()
            {
                console.log("Changed");
                if ($('#register_password').val().length != 0)
                {
                    if ($('#register_password').val() === $('#register_re_password').val())
                    {
                        if ($('#register_email').val().length != 0)
                        {
                            if ($('#register_company').val().length != 0)
                            {
                                if ($('#register_grainger').val().length != 0)
                                {
                                    if ($('#register_firstname').val().length != 0)
                                    {
                                        if ($('#register_lastname').val().length != 0)
                                        {
                                            console.log($('#register_password').val());
                                            $('#validator').show();
                                            $('#validator').html('You are good to go!.');
                                            $('#validator').css('color','black');
                                            $('#validator_lastname,#validator_firstname,#validator_company,#validator_account,#validator_email,#validator_password').hide();
                                            $('#Login_registerButton').show();
                                        }
                                        else
                                        {
                                            $('#validator_lastname').show();
                                            $('#validator').hide();
                                            $('#Login_registerButton,#validator_firstname,#validator_company,#validator_account,#validator_email,#validator_password').hide();
                                        }
                                    }
                                    else
                                    {
                                        $('#validator_firstname').show();
                                        $('#validator').hide();
                                        $('#Login_registerButton,#validator_lastname,#validator_company,#validator_account,#validator_email,#validator_password').hide();
                                    }
                                }
                                else
                                {
                                    $('#validator_account').show();
                                    $('#validator').hide();
                                    $('#Login_registerButton,#validator_lastname,#validator_firstname,#validator_company,#validator_email,#validator_password').hide();
                                }
                            }
                            else
                            {
                                $('#validator_company').show();
                                $('#validator').hide();
                                $('#Login_registerButton,#validator_lastname,#validator_firstname,#validator_account,#validator_email,#validator_password').hide();
                            }
                        }
                        else
                        {
                            $('#validator_email').show();
                            $('#validator').hide();
                            $('#Login_registerButton,#validator_lastname,#validator_firstname,#validator_company,#validator_account,#validator_password').hide();
                        }
                    }
                    else
                    {
                        console.log($('#register_password').val());
                        console.log($('#register_re_password').val());
                        $('#validator').hide();
                        $('#validator_password').show();
                        $('#Login_registerButton,#validator_lastname,#validator_firstname,#validator_company,#validator_account,#validator_email').hide();
                    }
                }
                else
                {
                    $('#validator').html('Please enter your details');
                    $('#validator').css('color', 'red');
                    $('#Login_registerButton').hide();
                }
            });
        </script>