<p>{{mesage}}</p>
<div class="container">
    <div class="row">
        <img src="/images/logo_black.png" class="logoimage">
        <a href="/logout">
            <span style="float:right; margin-left: 10px;"><i class="fa fa-sign-out fa-4x" aria-hidden="true"></i></span>
        </a>
    </div>
        <h5>
            Register as a service <select id="registerType">
                <option value="Seeker">seeker</option>
                <option value="Provider">provider</option>
            </select>
        </h5>
    <hr class="titlehr">
    <hr>
    <div class="twelve columns" id="FullForm">
        <h5>
            <label style="text-align: center" for = "contactInfoRegistration">General Information</label>
        </h5>
        <form id="registerationForm_Contact" method="POST">
           <div id="GeneralFormDiv">
            <div class="row">
                <div style="margin-left: 2%;" class = "five columns">
                    <h6>
                        <label for="Email">Email</label>
                    </h6>
                    <input class="u-full-width" type="text" name="email" placeholder="Please enter your email." id="register_email" required>

                </div>
                <div class="five columns">
                    <h6>
                        <label for = "password">Password</label>
                    </h6>
                    <input class="u-full-width" type="password" name="password" placeholder="Please enter your password." id="register_password" required>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="five columns">
                    <h6>
                        <label for = "password">Re-enter password</label>
                    </h6>
                    <input class="u-full-width" type="password" placeholder="Please enter your password again." id="register_re_password" required>
                    <div class="form-group" id="validator_password">
                        Your passwords do not match.
                    </div>
                </div>
                <div class="five columns">
                    <h6>
                        <label for = "First_Name">First Name</label>
                    </h6>
                    <input class="u-full-width" type="text" name="first_name" placeholder="Please enter the first name." id="register_firstname" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="five columns">
                    <h6>
                        <label for = "Last_Name">Last Name</label>
                    </h6>
                    <input class="u-full-width" type="text" name="last_name" placeholder="Please enter the last name." id="register_lastname" required>

                </div>
                <div class="five columns">
                    <h6>
                        <label for = "text">Street</label>
                    </h6>
                    <input class="u-full-width" name="street1" type="text" placeholder="Please enter your address - street." id="register_street1" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="five columns">
                    <h6>
                        <label for = "city">City</label>
                    </h6>
                    <input class="u-full-width" type="text" name="city" placeholder="Please enter the city." id="register_city" required>
                </div>
                <div class="five columns">
                    <h6>
                        <label for = "State">State</label>
                    </h6>
                    <input class="u-full-width" type="text" name="state" placeholder="Please enter the state." id="register_state" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="five columns">
                    <h6>
                        <label for = "zipcode">Zipcode</label>
                    </h6>
                    <input class="u-full-width" type="text" name="zipcode" placeholder="Please enter the zipcode." id="register_zipcode" required>
                </div>
                <div class="five columns">
                    <h6>
                        <label for = "phoneno">Phone number</label>
                    </h6>
                    <input class="u-full-width" type="text" name="phoneno" placeholder="Please enter your phone number." id="register_phoneno" required>
                </div>
            </div>
            <br>

            <div class="form-group" id="validator">
            </div>
            <div class="row">
                <button id="Login_registerButton" type='button' class="button-primary" onclick="submitSeekerForm();">Register</button>
            </div>
            <div class="row" id="ProviderDetailsSection">
                <button id="Provider_Next" type='button' class="button-primary" onclick="fetchProviderDetailsForm();">Help us find your interests.</button>
            </div>
           </div>
            <div class="row" id="ProviderSpecificDiv">
                <h5>
                    <label style="text-align: center" for = "contactInfoRegistration">Service Provider Registration Form</label>
                </h5>
                    <div class="row">
                            <h6>
                                <label for = "providerInterest">Select your interests:</label>
                            </h6>
                            {{#each services}}
                                <input type="checkbox" name=serviceOptions value={{this}}> <span>{{this}}</span><br>
                            {{/each}}
                    </div>
                    <br>

                    <div class="row">
                        <h6>
                        <label for = "OtherInterests">If you have other interests, tell us more about it. Help us help you discover!</label>
                        </h6>
                        <textarea style="border-radius: 10px;width: 503px;height: 113px;" id="OtherInterestsDesc" form="ProviderSpecificForm">

                        </textarea>
                    </div>
                    <br>

                    <div class="row" id="ExpertiseLevels">
                        <h6>
                            <label for = "InterestLevel">Help us understand your expertise in your interests!</label>
                        </h6>
                    </div>
                    <div class="row">
                        <button id="registerButton" type='button' class="button-primary" onclick="submitProviderForm();">Register</button>
                    </div>
                    <div class="row" id="ProviderSectionValidator">
                    </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        $('#ProviderSpecificDiv').hide();
        $('#Login_registerButton,#validator_password').hide();
        if ($('#registerType').val() == 'Seeker'){
            $('#ProviderDetailsSection').hide();
        }else if ($('#registerType').val() == 'Provider'){
            $('#ProviderDetailsSection').show();
        }
    });

    $('#registerType').change(function() {
        if ($('#registerType').val() == 'Seeker'){
            $('#ProviderDetailsSection').hide();

            var inputCheck = true;
            $("#registerationForm_Contact input").each(function(index, element){

                if ($(element).val() == "")
                    inputCheck = false;
            });
            if (inputCheck){
                $('#validator').show();
                $('#validator').html('You are good to go.');
                $('#validator').css('color','black');
                $('#Login_registerButton').show();
            }
        }else if ($('#registerType').val() == 'Provider'){
            $('#Login_registerButton').hide();
            var inputCheck = true;
            $("#registerationForm_Contact input").each(function(index, element){

                if ($(element).val() == "")
                    inputCheck = false;
            });
            if (inputCheck){
                $('#validator').show();
                $('#validator').html('Your one step closer to start as a service provider.');
                $('#validator').css('color','black');
                $('#ProviderDetailsSection').show();
            }

        }
    });

    // Checking for valid fields.
    $('#register_password,#register_re_password').on('change',function() {
        console.log("Changed");
        if ($('#register_password').val().length != 0) {
            if ($('#register_password').val() === $('#register_re_password').val()) {
                console.log($('#register_password').val());
                $('#validator_password').hide();
            }else{
                $('#validator_password').show();
            }
        }
    });

    $("#registerationForm_Contact input").on("keyup change", function(){
        var inputValidate = true;
        $("#registerationForm_Contact input").each(function(index, element){

            if ($(element).val() == "")
                inputValidate = false;
        });

        if (inputValidate)
        {
            console.log("ALl set");
            if ($('#registerType').val() == 'Provider'){
                console.log($('#registerType').val());
                $('#validator').show();
                $('#validator').html('Your one step closer to start as a service provider.');
                $('#validator').css('color', 'black');
                $('#ProviderDetailsSection').show();
            }else if ($('#registerType').val() == 'Seeker'){
                $('#validator').show();
                $('#validator').html('You are good to go!.');
                $('#validator').css('color', 'black');
                $('#Login_registerButton').show();
            }
        }else{
            console.log(inputValidate);
        }
    });

    function fetchProviderDetailsForm(){
        console.log("Next step activated.");
        $('#GeneralFormDiv').hide(750);
        $('#ProviderSpecificDiv').show();

    }

    $('input[type=checkbox]').change(function(){
        if($(this).is(':checked')){
            var checkedValue=$(this).next("span").text();
            console.log(checkedValue);
            var tempHtml = "<div class='row' id="+checkedValue+"Expertise><h6><label for = "+checkedValue+"InterestLevel> What is you expertise level as a "+checkedValue+"?</label></h6><input type='radio' id="+checkedValue+"Beginner value='Beginner' name="+checkedValue+"Options required>Beginner <input type='radio' id=Inter value='Inter' name="+checkedValue+"Options>Intermediate <input type='radio' id="+checkedValue+"Expert value='Expert' name="+checkedValue+"Options>Expert </div><br>";
            console.log(tempHtml);
            $('#ExpertiseLevels').append(tempHtml);
        }else{
            console.log('Unchecked');
            var uncheckedValue = $(this).next("span").text();
            if (uncheckedValue.indexOf(' ') > -1){
                console.log(uncheckedValue.split(" "));
                uncheckedValue = uncheckedValue.split(" ")[0];
                $('#'+uncheckedValue).remove();
            }
            console.log(uncheckedValue);
            $('#'+uncheckedValue+'Expertise').remove();
        }
    });

    function submitProviderForm(){
        var checkedValues=[]
        $("input:checkbox[name=serviceOptions]:checked").each(function(){
            checkedValues.push($(this).next('span').text());
        });

        console.log(checkedValues);
        var allChecked = true;
        var stupid=[];
        for (var i=0;i<checkedValues.length;i++){
            var currentValue = checkedValues[i];
            console.log(currentValue);
            if (currentValue.indexOf(' ') > -1){
                console.log(currentValue.split(" "));
                currentValue  = currentValue.split(" ")[0];
                if (!$("input[name="+currentValue+"]:checked").val()){
                    allChecked = false;
                    stupid.push(currentValue);
                }
            }else if (!$("input[name="+currentValue+"Options]:checked").val()){
                allChecked = false;
                stupid.push(currentValue);
            }
        }
        if (allChecked){
            console.log("All checked!");
            $('#ProviderSectionValidator').hide();
            document.getElementById("registerationForm_Contact").submit();
        }else{
            console.log(stupid);
            $('#ProviderSectionValidator').show();
            $('#ProviderSectionValidator').html('Please check if you have provided your expertise level for all the interests selected.');
            $('#ProviderSectionValidator').css('color', 'black');
        }
    }

    function submitSeekerForm(){
        if ($('#registerType').val() == 'Seeker'){
            document.getElementById("registerationForm_Contact").submit();
        }

    }
</script>
