

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />


 <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

 <div class="container">
    
        <div class="row box-shadow ">
         <img src="/images/logo_black.png" class="logoimage" style="display: block; margin: 0 auto;">
            
        </div>
        <h1> Welcome User X </h1>
        
        <div class="row">
            <div class="one columns"><h3>Search</h3></div>
            <div class= "eleven columns"><h4><input id="tags" style="width:100%"></h4></input></div>
        </div>
       
       <div class ="row">
           <div class="six columns"  id="mapid" style=" height: 70vh; overflow: hide;"> </div>
         
        <div class="six columns" style="  height: 70vh; overflow: scroll;">
              
    <div id="accordion">
  <h3><p class="provider-name"> :Victoria Pena <!-- Add handle bar for name of person and rating--></p> Recommended : <div id="progressbar1"><div id="progress-label1" class="progress-label">Recommended</div></div> <!--Recommended tells you how many people recommend this person based on the rating they give --></h3>
  <div>
  <figure class="snip0057 red">
  <figcaption>
    <h2>Victoria <span>Pena</span></h2>
    <p>A voice crackles in Calvin's radio: "Enemy fighters at two o'clock!" "Roger. What should I do until then?"</p>
    <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
  </figcaption>
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
  <div class="position">Illustrator</div>
</figure>
<button id="myBtn">Open Modal</button>
  </div>
  <h3><p class="provider-name"> Pam Beesly<!-- Add handle bar for name of person and rating--></p> Recommended : <div id="progressbar2"><div id="progress-label2" class="progress-label">Recommended</div></div> <!--Recommended tells you how many people recommend this person based on the rating they give --></h3>
 <div>
      <figure class="snip0057 red">
  <figcaption>
    <h2>Pamela <span>Beesly</span></h2>
    <p>Physics , Math, Cheistry. I can teach em all. Hit me up on Beacon</p>
    <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
  </figcaption>
  <div class="image"><img src="http://www.nndb.com/people/724/000129337/jenna-fischer-1-sized.jpg"sample4"/></div>
  <div class="position">Tutor</div>
</figure>
  </div>
  <h3><p class="provider-name"> Jason <!-- Add handle bar for name of person and rating--></p> Recommended : <div id="progressbar3"><div id="progress-label3" class="progress-label">Recommended</div></div> <!--Recommended tells you how many people recommend this person based on the rating they give --></h3>
  
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
       </div>
          </div>           


        </div>
        
  </div>
</div> 
<!--MODAL AFTER BOOK is clicked-->
<div id="dialog-message" title="Book Provider" style="width:60%">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
   Pena
  </p>
 <figure class="snip0057 red">
  <figcaption>
    <h2>Victoria <span>Pena</span></h2>
    <p>A voice crackles in Calvin's radio: "Enemy fighters at two o'clock!" "Roger. What should I do until then?"</p>
    <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
  </figcaption>
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
  <div class="position">Illustrator</div>
</figure>
</div>

  <script src="/javascripts/seekerHome.js"></script>
<link rel='stylesheet' href='/stylesheets/seekerHome.css' />
<style>
  .box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  </style>

 


 